body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color: #00B3C5;
    font-size: large;
}

a{
    text-decoration: none;
    color: black;
}

#image{
    height: 250px;
    display: inline-block;
    float: right;
    margin-right: -30px;
}

.baniere{
    width: 100%;
    background-color: #00B3C5;
    height: 250px;
    margin-left: -15px;

}
.topnav
{
    /*display: inline-block;*/
    position: absolute;
    top: 200px;
    font-size: 30;
    margin-left: 10px;

    
}
.topnav a
{
    text-decoration: none;
    color: #89CBD8;
}

.home-row{
    /*height: 350px;*/
    margin-top: 25px;
    width: 100%;


}
.home-row img{
    width: 100%;
    border-radius: 15px;

}
.inner-home-row{
    width: 70%;
    padding: 15px;
    border: 1px solid #120C0D;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px #120C0D;
}

.contact-row{
    margin-top: 120px;
}

.first-li{
    list-style: none;
}
li{
    list-style: disc;
}

.titre{
    text-align: center;
    margin-top: 25px;
}
/*
#divright img
{
    margin-top: 10px;
    height :250px;
    margin-left: 20px; 
    
}
#divright p {
    
    font-size: 20;
    margin-right: 50px;
    float: right;

}
#divgauche img
{
    margin-top: 10px;
    height :250px;
    margin-left: 580px; 
    
}
#divgauche p {
    
    font-size: 20; 
    margin-right: 50px;
    float:left;
}*/

.container{
    min-width: 75%;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0 0 40px 10px #120C0D;
}